<div class="row">
  <div class="col-md-12">
    <input type="text" name="search" id="search_input" class="form-control" placeholder="Search for anime">
  </div>
  <div class="col-md-12">
    <h6 id="search_label" style="display:none">You searched for <label class="control-label" id="search_result_label"></label>. Please wait while we generate results..</h6>
    <ul class="media-list" id="result_div">

    </ul>
  </div>
</div>